<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- endbuild -->
    <style type="text/css" >
      .text-area{
        font-size: 18px;
        width: 100%;       
        overflow: auto;
      }
      .text-area span{
        display: block;
        float: left;
        margin: 0px 5px 
      }
      textarea{
        width: 100%;
        min-height: 150px;
        border:  none;

      }

      .rightWrd{
        background-color: white;
        color: green;
      }

      .wrongWrd{
        background-color: white;
        color: red;        
      }

      .currentWrd{
        background-color: rgba(218, 177, 14, 0.5);
        color: black;          
      }

    </style>
  </head>
  <body ng-app="persistentInterViewApp" ng-controller="MainCtrl" ng-keydown ="keydown($event)"  ng-keypress="keypress($event)">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">

     <section class='header'>
      <h1>Tak-Tak<span style='font-size:14px'> beta </span></h1>
      <hr/>
     </section>

    <progressbar class="progress-striped active" max="max" type='{{progessBarType}}' value="dynamic"><span style="color:black; white-space:nowrap;">{{dynamic}} / {{max}} Seconds</span></progressbar>

    <section class='text-area'>      
      <span ng-repeat="dataText in dataTextArr track by $index" >{{dataText}}           
      </span>
    </section>
    <br/>

    <section style='font-size:18px;'>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <input type='text'  autofocus class='inputArea form-control'  placeholder='Start Typing here............'/>
        </div>
        <div class="col-lg-4 col-sm-4 col-sm-12 col-xs-12">
          <button class='btn btn-primary form-control restart-btn' ng-click="restart()" disabled>Restart</button>
        </div>
      </div>
     
     
    </section>
    
    <section class='row' ng-show='testDone'>
      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
         <table class="table table-hover">
        <tr>
          <td colspan='2' class='text-center'><b>Your Result</b></td>          
        </tr>
        <tr>
          <td>W.P.M</td>
          <td>{{wpm}}</td>
        </tr>
        <tr>
          <td>Currect Key Strock/Wrong Key Strock</td>
          <td>{{currectKeyStrock}}/{{wrongKeyStrock}}</td>
        </tr>
        <tr>
          <td>Currect Word</td>
          <td>{{currectWrdCount}}</td>
        </tr>
        <tr>
          <td>Wrong Word</td>
          <td>{{wrongWrdCount}}</td>
        </tr>
      </table>  
      </div>
      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>         
    </section>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/imagedesc.js"></script>
        <!-- endbuild -->
</body>
</html>
